body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
    text-align: center;
}

main {
    display: flex;
}

.sidebar {
    flex: 20%;
    padding: 70px;
}

.main-page {
    flex: 80%;
    padding: 20px;
}

.note-delete {
    float: right;
}

.folder.selected {
    background-color: blue;
}

.sidebar .folder-name {
    text-orientation: upright;
}